*{
    padding: 0;
    height: 0;
    color: white;
    background-color: black;
}

.header{
    height: 8vh;
    font-weight: 700;
    position: sticky;
}

.center{
    text-align: center;
}

main{
    margin-top: 8vh;
    min-height: 86vh;
}

footer{
    height: 4vh;
    color: white;
    background-color: black;
}